 
  .content {
    width: 100%;
    display: flex;
    
  }
.left {
    position:relative;
    left: 0;

    padding: 10px;
}
.right {
    position: absolute;
    right: 0;

    padding: 10px;
}
  
  table {
    width: 1400px;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  thead {
    background-color: #007bff;
    color: white;
  }
  
  th {
    font-weight: bold;
  }
  
  .increase {
    color: green;
  }
  
  .decrease {
    color: red;
  }


  .employee-of-the-month-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    
    
  }
  
  .employee-of-the-month {
    width: 350px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #242424;
  }
  
  .employee-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .employee-details {
    padding: 16px;
    align-items: center;
    margin: auto;
  }
  .growth-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }